*
{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Courier New', Courier, monospace;
}

header
{
    background-color:  #0f1b5f;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 10px;
}

.h2
{
flex: 1;
}

.c-task-count,
.c-task-done
{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50px;
}

.c-task-count
{
    background-color: white;
    color: #0688cf;
    margin-right: 20px;
}

.c-task-done
{
    background-color:#0688cf;
    color: white;
}

.h1
{
    text-transform: uppercase;
    margin-bottom: 20px;
    color:#0f1b5f ;
    font-size: 40px;
    font-weight: bolder;
}


.container
{
    
    width: 70%;
    margin: 100px auto;
    
}

form
{
    width: 90%;
    margin: auto;
    display: flex;
}

form input,
form button,
#clear-btn
{
    font-size: 20px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 8px;
}

form input
{
    border: 1px solid #ccc ;
    color: black;
    cursor: pointer;
    width:70%;
    
}

form button
{
    
    color: black;
    cursor: pointer;
    width: 100px;
    margin: 0 4px;
}

#clear-btn
{
    background-color: red;
    color: black;
    cursor: pointer;
    width: 90px;
    margin: 0 4px;
}

.Task-Empty
{
    text-align: center;
    color: #0688cf;
    margin: 20px 0;
}
.List
{
    list-style: none;
    border: 1px solid #ccc;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
}
/* .list-item
{
    /* padding: 10px; */
/* }  */

 .task
{
    /* padding: 10px; */
    /* display: flex;
    justify-content: space-between; */
    background-color: #0f1b5f;
    display: inline-block;
    width: 95%;
    padding: 10px;
    color: white;
}
.del
{
    cursor: pointer;
    width: 5%;
    text-align: center;
    color: red;
}
.list-item:not(:last-child)
{
    border: 1px solid #ccc;
    
}

#alert
{
    background-color: red;
    border: 20px;
    margin: 20px 0;
    text-align: center;
   transition: 4s ease-in-out;
   /* padding: 10px; */
}

.done
{
    text-decoration: line-through;
    color:red ;
}

.task:hover
{
    background-color: yellow;
    color: red;
    transition: 4S,ease-in-out;
}